body{
    overflow-x: hidden;
}
.box{
    height: 350px;
    background-color: #fff;
    padding: 17px;
    text-align: center;
    border-radius: 8px;
  
    
}
.box i {
    display: block;
    margin: auto;
}
.messages{
    background-color: #eee;
}
.content-africa{
    margin-left: 5% !important;
    padding: 5px 5px;
}
.table{
    border: 1px solid black;
}
.thead-africa{
    background-color: #08b962;
    color: #fff;
}
.table-row-africa{
    background-color: #b2edbe;
    color: #000;
   
}

h1{
    color: #08b962;
    margin-top:15px;
}

h3{
    font-weight: 500;
}
p{
    padding-right: 10px;
    margin-bottom: 40px;
}
.box i{

    color: #08b962;
    font-size: xx-large;
}
span{
    font-weight: 500;
}