body{
    overflow-x: hidden;
}
.img {
  height: 270px;
  margin-top: 150px;
  margin-left: 50px;
}
h1 {
  color: #00bf63;
}
span{
    font-weight: 500;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}